html {
    height: 100%;
}

body {
	padding-top: 51px;
    margin: 0;
    height: 100%;
}

.mt-20 {
	margin-top: 20px;
}

.d-n {
	display: none;
}

.lh-50 {
	line-height: 50px;
}

#sign-in-form,
#sign-out-form {
	text-align: right;
	margin: 8px 0;
}

#sign-in-form .form-group,
#sign-out-form .form-group{
	margin-bottom: 0;
}

.main-wrap {
	min-height: 100%;
}

main {
	padding-bottom: 70px;
}

.book-cover img {
	width: 180px;
	height: 230px;
	margin-right: 15px;
}


.book-wrap .content img {
	width: 100px;
	height: 150px;
	margin-right: 10px;
}

.book-wrap .content p {
	text-overflow: ellipsis;
	text-align: justify;
	overflow: hidden;
}

.welcome-copy {
	font-size: 16px;
	color: #fff;
	margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.welcome-copy.d-n {
	display: none !important;
}

footer {
	background-color: #222;
	height: 54px;
	margin-top: -50px;	
}

footer ul {
	margin: 10px 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
	text-decoration: none;
	font-size: 24px;
	padding-right: 5px;
}

footer a {
	color: #9d9d9d;
}

footer a:hover {
	color: #fff;
}

footer p {
	color: #9d9d9d;
	margin-top: 10px;
	line-height: 34px;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}