h2 {
	text-align: center;
}

table {
	border-spacing: 7px;
	margin-bottom: 10px;
}

table tbody {
	vertical-align: top;
}

td { 
	padding: 0 10px 5px 0;
}

td:first-child {
	font-weight: bold;
}

.right-side {
	float: right;
}

.image {
	text-align: center;
	margin-bottom: 5px;
}

.image img {
	width: 200px;
	height: 290px;
}

.book-info {
	overflow: hidden;
}

@media (min-width: 768px) {
	.image {
		float: left;
		margin-right: 15px;
	}
}