<footer>
	<div class="container">
		<ul class="pull-left">
			<li><a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		</ul>
		<p class="pull-right">Books Inc.&copy;</p>
	</div>
</footer>