<div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="enterYourName">Please enter your name</h4>
      </div>
      <div class="modal-body">
        <form id="sign-up-form">
          <input type="hidden" name="sign_up[email]" id="sign-up-email">
          <div class="form-group">
            <label for="name" class="control-label">Your Name:</label>
            <input type="text" name="sign_up[name]" class="form-control" id="name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="sign-up-form" class="btn btn-primary btn-submit">Submit</button>
      </div>
    </div>
	</div>
</div>